<!DOCTYPE html>
<html>
<head>
  <style>
    .center {
      width: 300px;
      padding: 50px;
      margin: 20px;
      border: 10px solid black;
      text-align: center;
    }
    .right{
      margin-top: 50px;
      margin-right: 50px;
      position:absolute;
      top:0;
      right:0;
    }
  </style>
</head>
<body>


<div class="center">
 <h2>Welcome to Expenses Manager</h2>
  <p>* Add and Update your Income!</p>
  <p>* Log expenses based on categories with descriptions!</p>
  <p>* Analyze your Expenditure!</p>
  <p>* Get timely Alerts when you are about to overspend! </p>
</div>
<div class = "right">
  <form action = "slack" method = "get">
    <input type ="submit" value = "Sign In">
  </form>
</div>

</body>
</html>

